<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniVillage Consumptions List</title>
    <style>
      body {
        padding: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: #333;
      }

      h2,
      h3 {
        text-align: center;
      }

      body small {
        display: block;
      }

      body > div {
        padding: 1rem;
        margin-bottom: 15px;
      }

      body > div > div {
        border-bottom: 1px dashed #ccc;
      }

      body > div * {
        margin-bottom: 8px;
      }

      body > div h4 {
        text-decoration: underline;
        margin-bottom: 25px;
      }

      body > div > div > div {
        margin-bottom: 40px;
      }

      body > div > div > div strong {
        color: #444;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/header");%>
    <h2>OmniVillage Consumptions List</h2>
    <h3>Sorted by latest to oldest</h3>
    <div>
      <% Object.keys(consumptions).forEach((item)=>{%>
      <div>
        <h4><%=item %></h4>
        <% consumptions[item].forEach((consumption)=>{%>
        <div>
          <small>ID: <%=consumption._id%></small>
          <strong
            ><%=consumption.user.first_name%>
            <%=consumption.user.last_name%></strong
          >
          <p><%=consumption.user.country_code%> <%=consumption.user.phone%></p>
          <p>Consumption Type: <%=consumption.consumption_type_name%></p>
          <p>
            Consumption Crop: <%=consumption?.consumption_crop ?
            consumption?.consumption_crop?.name : "CROP DELETED" %>
          </p>
        </div>
        <%});%>
      </div>
      <%});%>
    </div>
  </body>
</html>
