<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniVillage Poultries List</title>
    <style>
      body {
        padding: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: #333;
      }

      h2,
      h3 {
        text-align: center;
      }

      body small {
        display: block;
      }

      body > div {
        padding: 1rem;
        margin-bottom: 15px;
      }

      body > div > div {
        border-bottom: 1px dashed #ccc;
      }

      body > div * {
        margin-bottom: 8px;
      }

      body > div h4 {
        text-decoration: underline;
        margin-bottom: 25px;
      }

      body > div > div > div {
        margin-bottom: 40px;
      }

      body > div > div > div strong {
        color: #444;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/header");%>
    <h2>OmniVillage Poultries List</h2>
    <h3>Sorted by latest to oldest</h3>
    <div>
      <% Object.keys(poultries).forEach((item)=>{%>
      <div>
        <h4><%=item %></h4>
        <% poultries[item].forEach((poultry)=>{%>
        <div>
          <p>ID: <%=poultry._id%></p>
          <strong
            ><%=poultry.user.first_name%> <%=poultry.user.last_name%></strong
          >
          <p><%=poultry.user.country_code%> <%=poultry.user.phone%></p>
          <p>
            poultry Crop: <%=poultry?.poultry_crop ? poultry?.poultry_crop?.name
            : "CROP DELETED" %>
          </p>
        </div>
        <%});%>
      </div>
      <%});%>
    </div>
  </body>
</html>
