<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniVillage Selling Channels List</title>
    <style>
      body {
        padding: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: #333;
      }

      h2,
      h3 {
        text-align: center;
      }

      body small {
        display: block;
      }

      body > div {
        padding: 1rem;
        margin-bottom: 15px;
      }

      body > div > div {
        border-bottom: 1px dashed #ccc;
      }

      body > div * {
        margin-bottom: 8px;
      }

      body > div h4 {
        text-decoration: underline;
        margin-bottom: 25px;
      }

      body > div > div > div {
        margin-bottom: 40px;
      }

      body > div > div > div strong {
        color: #444;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/header");%>
    <h2>OmniVillage Selling Channels List</h2>
    <h3>Sorted by latest to oldest</h3>
    <div>
      <% Object.keys(selling_channels).forEach((item)=>{%>
      <div>
        <h4><%=item %></h4>
        <% selling_channels[item].forEach((selling_channel)=>{%>
        <div>
          <small>ID: <%=selling_channel._id%></small>
          <strong
            ><%=selling_channel.user.first_name%>
            <%=selling_channel.user.last_name%></strong
          >
          <p>
            <%=selling_channel.user.country_code%>
            <%=selling_channel.user.phone%>
          </p>
          <p>
            Selling Channel Names: <%=selling_channel.selling_channel_names%>
          </p>
        </div>
        <%});%>
      </div>
      <%});%>
    </div>
  </body>
</html>
