<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OmniVillage Users List</title>
    <style>
      body {
        padding: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: #333;
      }

      h2,
      h3 {
        text-align: center;
      }

      body > div {
        padding: 1rem;
        margin-bottom: 15px;
      }

      body > div > div {
        border-bottom: 1px dashed #ccc;
      }

      body > div * {
        margin-bottom: 8px;
      }

      body > div h4 {
        text-decoration: underline;
        margin-bottom: 25px;
      }

      body > div > div > div {
        margin-bottom: 40px;
      }

      body > div > div > div strong {
        color: #444;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <h2>OmniVillage User List</h2>
    <h3>Sorted by latest to oldest</h3>
    <div>
      <% Object.keys(users).forEach((item)=>{%>
      <div>
        <h4><%=item %></h4>
        <% users[item].forEach((user)=>{%>
        <div>
          <strong><%=user.first_name%> <%=user.last_name%></strong>
          <p><%=user.country_code%> <%=user.phone%></p>
        </div>
        <%});%>
      </div>
      <%});%>
    </div>
  </body>
</html>
